body {
    position: relative; /* Pour que le pseudo-élément ::before soit positionné par rapport au body */
    background-image: url("../../Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    animation: darkenBackground 3s ease-in-out forwards; 
}

@keyframes darkenBackground {
    0% {
        background-color: rgba(0, 0, 0, 0); 
    }
    100% {
        background-color: rgba(0, 0, 0, 0.65); 
    }
}

.main h1{
    color: whitesmoke;
    position: absolute;
    right: 50%;
    font-size: 300%;
    top: -2%
}

.presentation {
    width: 40vw; /* Utilisation de vw pour une largeur relative à la largeur de la fenêtre */
    height: 80vh; /* Utilisation de vh pour une hauteur relative à la hauteur de la fenêtre */
    background-color: black;
    position: fixed;
    right: 50%;
    top: 10%;
    border-radius: 10%;
    box-shadow: -5px -5px 35px rgba(38, 0, 255, 0.5);
    opacity: 0; 
    animation: fadeIn 3s ease forwards;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        width: 10%;
        height: 20%;
        opacity: 0; 
    }
    100% {
        width: 40%;
        height: 80%;
        opacity: 0.85; 
    }
}

.presentation img {
    width: 10vw; /* Utilisation de vw pour une taille d'image relative à la largeur de la fenêtre */
    height: 10vw; /* Utilisation de vw pour une taille d'image relative à la largeur de la fenêtre */
    position: absolute;
    right: 70%;
    top: 1%;
    border-radius: 100%;
    border: 10px solid whitesmoke;
}

.presentation h3 {
    font-size: 2vw; /* Utilisation de vw pour une taille de police relative à la largeur de la fenêtre */
    height: 5vh; /* Utilisation de vh pour une hauteur relative à la hauteur de la fenêtre */
    color:whitesmoke;
}

.presentation h4 {
    font-size: 2vw; /* Utilisation de vw pour une taille de police relative à la largeur de la fenêtre */
    height: 5vh; /* Utilisation de vh pour une hauteur relative à la hauteur de la fenêtre */
    color:whitesmoke;
}

.presentation h5 {
    font-size: 2vw; /* Utilisation de vw pour une taille de police relative à la largeur de la fenêtre */
    height: 26vh; /* Utilisation de vh pour une hauteur relative à la hauteur de la fenêtre */
    color:whitesmoke;
}

.presentation h2 {
    font-size: 1.6vw; /* Utilisation de vw pour une taille de police relative à la largeur de la fenêtre */
    height: 3vh; /* Utilisation de vh pour une hauteur relative à la hauteur de la fenêtre */
    color:orangered;
}

.presentation h6 {
    font-size: 2vw; /* Utilisation de vw pour une taille de police relative à la largeur de la fenêtre */
    color:whitesmoke;
}


/*.menupopup {
    width: 500px;
    height: 200px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 100;
    border-radius: 100px 0 0 100px;
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.5);
    opacity: 60%;
}*/