
body {
    background-image: url("../../Images/background.png");
}

.main h1{
 color: white;
}

.presentation {
    width: 40%;
    height: 80%;
    background-color: black;
    position: fixed;
    right: 50%;
    top: 10%;
    border-radius: 10%;
    box-shadow: -5px -5px 8px rgba(38, 0, 255, 0.5);
    opacity: 85%;
}

.main h1{
    color: whitesmoke;
    position: absolute;
    right: 50%;
    font-size: 300%;
    top: -2%
}

.presentation h1{
    background-color: black;
    color: whitesmoke;
    position: absolute;
    right: 40%;
    font-size: 300%;
    top: -2%
}

.presentation h3{
    background-color: black;
    color: whitesmoke;
    position: absolute;
    right: 25%;
    font-size: 250%;
    top: 2%
}

.presentation h4{
    background-color: black;
    color: whitesmoke;
    position: absolute;
    right: 50%;
    font-size: 250%;
    top: 10%
}

.presentation h5{
    background-color: black;
    color: whitesmoke;
    position: absolute;
    font-size: xx-large;
    top: 30%;
    left: 1%;
    height: 15%;
}

.presentation h2{
    background-color: black;
    color: orangered;
    position: absolute;
    font-size: xx-large;
    top: 70%;
    left: 1%;
   
    height: 15%;
}
.presentation h6{
    background-color: black;
    color: whitesmoke;
    position: absolute;
    font-size: x-large;
    top: 85%;
    left: 35%;
}


.presentation img{
    width: 30%;
    height: 30%;
    position: absolute;
    right: 66%;
    top: 1%;
    border-radius: 100%;
    border: 10px solid whitesmoke;
}

/*.menupopup {
    width: 500px;
    height: 200px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 100;
    border-radius: 100px 0 0 100px;
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.5);
    opacity: 60%;
}*/