body {
    position: relative; /* Pour que le pseudo-élément ::before soit positionné par rapport au body */
    background-image: url("../../Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

